USE [master]
GO
/****** Object:  Database [IDEF]    Script Date: 23.02.2021 20:43:09 ******/
CREATE DATABASE [IDEF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IDEF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IDEF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IDEF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IDEF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IDEF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IDEF]
GO
/****** Object:  Table [dbo].[Аренда]    Script Date: 23.02.2021 20:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Аренда](
	[ID_Аренды] [nvarchar](50) NOT NULL,
	[ID_Арендатора] [nvarchar](50) NULL,
	[Название] [nvarchar](50) NULL,
	[ТЦ] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[ID_Сотрудник] [nvarchar](max) NULL,
	[Павильона] [nvarchar](50) NULL,
	[Статус] [nvarchar](50) NULL,
	[Начало_Аренды] [varchar](max) NULL,
	[Окончание_Аренды] [nvarchar](max) NULL,
 CONSTRAINT [PK_Аренда] PRIMARY KEY CLUSTERED 
(
	[ID_Аренды] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Арендаторы]    Script Date: 23.02.2021 20:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Арендаторы](
	[ID_Арендатора] [nvarchar](50) NOT NULL,
	[ID_Аренды] [nvarchar](50) NULL,
	[Название_Номер] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
 CONSTRAINT [PK_Арендаторы] PRIMARY KEY CLUSTERED 
(
	[ID_Арендатора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Павильон]    Script Date: 23.02.2021 20:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Павильон](
	[Павильона] [nvarchar](50) NOT NULL,
	[Название_ТЦ] [nvarchar](50) NULL,
	[Этаж] [nvarchar](50) NULL,
	[Статус] [bit] NULL,
	[Площадь] [nvarchar](50) NULL,
	[Стоимость_за_кв_м] [nvarchar](50) NULL,
	[Кооф_Добавочной_стоимости] [nvarchar](50) NULL,
 CONSTRAINT [PK_Павильон] PRIMARY KEY CLUSTERED 
(
	[Павильона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 23.02.2021 20:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Логин] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NULL,
	[ФИО] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[Роль] [nvarchar](50) NULL,
	[Номер_телефона] [nvarchar](50) NULL,
	[Пол] [nvarchar](50) NULL,
	[Фото] [nvarchar](1) NULL,
 CONSTRAINT [PK_Сотрудники_1] PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Аренда] ([ID_Аренды], [ID_Арендатора], [Название], [ТЦ], [Адрес], [ID_Сотрудник], [Павильона], [Статус], [Начало_Аренды], [Окончание_Аренды]) VALUES (N'1', N'2', N'Мега', N'Белая', N'Дача', N'2', N'88А', N'Открыт', N'янв 24 2019 12:01AM', N'ноя 17 2020 12:00AM')
INSERT [dbo].[Аренда] ([ID_Аренды], [ID_Арендатора], [Название], [ТЦ], [Адрес], [ID_Сотрудник], [Павильона], [Статус], [Начало_Аренды], [Окончание_Аренды]) VALUES (N'18', N'1', N'Золотой', N'Вавилон', N'Ростокино', N'7', N'61Б', N'Открыт', N'май 23 2019 12:00AM', N'май 13 2020 12:00AM')
INSERT [dbo].[Аренда] ([ID_Аренды], [ID_Арендатора], [Название], [ТЦ], [Адрес], [ID_Сотрудник], [Павильона], [Статус], [Начало_Аренды], [Окончание_Аренды]) VALUES (N'21', N'5', N'Ашан', N'Сити', N'Капитолий', N'2', N'70Г', N'Ожидание', N'ноя  9 2019 12:00AM', N'авг 17 2020 12:00AM')
GO
INSERT [dbo].[Арендаторы] ([ID_Арендатора], [ID_Аренды], [Название_Номер], [Телефон], [Адрес]) VALUES (N'1', N'1', N'AG Marine', N'+7(495)526-14-53', N'Москва, Бабаевская улица д.16')
INSERT [dbo].[Арендаторы] ([ID_Арендатора], [ID_Аренды], [Название_Номер], [Телефон], [Адрес]) VALUES (N'2', N'2', N'Art-elle', N'+7(495)250-58-94', N'Санкт-Петербург, Амбарная улица д.25 корп.1')
INSERT [dbo].[Арендаторы] ([ID_Арендатора], [ID_Аренды], [Название_Номер], [Телефон], [Адрес]) VALUES (N'3', N'3', N'Atlantis', N'+7(495)424-11-65', N'Новосибирск, Улица Каменская д.16')
GO
INSERT [dbo].[Павильон] ([Павильона], [Название_ТЦ], [Этаж], [Статус], [Площадь], [Стоимость_за_кв_м], [Кооф_Добавочной_стоимости]) VALUES (N'10А', N'Времена Года', N'3', 1, N'132', N'510', N'1,2')
INSERT [dbo].[Павильон] ([Павильона], [Название_ТЦ], [Этаж], [Статус], [Площадь], [Стоимость_за_кв_м], [Кооф_Добавочной_стоимости]) VALUES (N'11А', N'Времена Года', N'1', 1, N'95', N'670', N'1,7')
INSERT [dbo].[Павильон] ([Павильона], [Название_ТЦ], [Этаж], [Статус], [Площадь], [Стоимость_за_кв_м], [Кооф_Добавочной_стоимости]) VALUES (N'11Г', N'Фестиваль', N'4', 0, N'60', N'3052', N'0,6')
GO
INSERT [dbo].[Сотрудники] ([Логин], [ID], [ФИО], [Пароль], [Роль], [Номер_телефона], [Пол], [Фото]) VALUES (N'1', NULL, NULL, N'1', N'Менеджер С', NULL, NULL, NULL)
INSERT [dbo].[Сотрудники] ([Логин], [ID], [ФИО], [Пароль], [Роль], [Номер_телефона], [Пол], [Фото]) VALUES (N'Adam@gmail.com', N'3', N'Ломовцев Адам Владимирович', N'7SP9CV', N'Менеджер С', N'+7(8560)519-32-99', N'Male', NULL)
INSERT [dbo].[Сотрудники] ([Логин], [ID], [ФИО], [Пароль], [Роль], [Номер_телефона], [Пол], [Фото]) VALUES (N'Anisa@gmail.com', N'11', N'Федотов Леон Фёдорович', N'Wh4OYm', N'Менеджер А', N'+7(22)3264959', N'Male', NULL)
GO
USE [master]
GO
